# ignore this entire directory - the files are too large for git!
configs
data/raw_unused
tests

# ignore any files w/ this extension
*.DS_Store

# ignore these specific files - they're too large for git!
data/example/data_2digit_prep.h5
data/preprocessed/data_full_prep.h5
data/processed/data_full_clean.h5
data/processed/data_predictions.h5
data/raw/data_17_0.h5
source/model_1Ldot.py
source/model_3L.py
